<!-- Page Content -->
<div id="page-content">
    <div class="container page">
        <header><h1>Resend confirmation instructions</h1></header>
        <div class="row">
          </br></br></br>
            <div class="col-md-5 col-sm-6 col-md-offset-4 col-sm-offset-3">
              <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {class: "user_sign", method: :post }) do |f| %>
                <%= devise_error_messages! %>
                    <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                    </div><!-- /.form-group -->
                    <div class="form-group clearfix">
                        <%= f.submit "Resend confirmation instructions", class: "btn pull-right btn-default", style: "margin-top: 5px; width: 100%;" %>
                    </div><!-- /.form-group -->
                <% end %>
                <br>
                <div class="center"><%= render "users/shared/links" %></div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->
