<%= image_tag listing.images.first, width: 800, height: 533, class: "img-responsive", alt: "" %>
<%= listing.price %></span>
<%= link_to listing.title, edit_listing_path(id: listing) %>
<%= listing.city%>, <%= listing.state %>
