<div id="page-content">

        <div class="container page">
            <div class="row">
            <!-- sidebar -->
            <div class="col-md-3 col-sm-2">
                <section id="sidebar">
                    <header><h3>Dashboard</h3></header>
                    <aside>
                      <ul class="sidebar-navigation">
                        <% if current_user.regular_user %>
                          <li><%= link_to dashboard_path do %>
                            <i class="fa fa-user"></i><span>My Crews</span></a>
                            <% end %>
                          </li>
                          <li class="active"><%= link_to dashboard_requests_path do %>
                            <i class="fa fa-home"></i><span>Crew Requests</span></a>
                            <% end %>
                          </li>
                          <li><%= link_to dashboard_following_path do %>
                            <i class="fa fa-home"></i><span>Followed Listings</span></a>
                            <% end %>
                          </li>
                        <% end %>
                        <% if current_user.landlord %>
                          <li><%= link_to dashboard_myproperties_path do %>
                            <i class="fa fa-home"></i><span>My Properties</span></a>
                            <% end %>
                          </li>
                          <li><%= link_to bookingrequests_path do %>
                            <i class="fa fa-home"></i><span>Booking Requests</span></a>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </aside>
                </section><!-- /#sidebar -->
            </div><!-- /.col-md-3 -->
            <!-- end Sidebar -->
                <!-- My Properties -->
                <div class="col-md-9 col-sm-10">
                    <section id="my-properties">
                        <header><h1>Crew Requests</h1></header>
                        <div class="my-properties">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Property</th>
                                        <th></th>
                                        <th>Dates</th>
                                        <th>Users</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                  <% @request.each do |request| %>
                                  <% crew = request.crew %>
                                  <% listing = crew.listing %>
                                    <tr>
                                        <td class="image">
                                            <a href="property-detail.html"><img alt="" src="assets/img/properties/property-04.jpg"></a>
                                        </td>
                                        <td><div class="inner">
                                            <%= link_to listing do %>
                                            <h2><%= listing.title %></h2>
                                            <% end %>
                                            <figure><%= listing.full_address %></figure>
                                            <div class="tag price">$ <%= listing.price %></div>
                                        </div>
                                        </td>
                                        <td>
                                          <%= crew.start_date.strftime("%B %Y") %></br>
                                          <%= "#{pluralize(crew.lease_length, "Month")}" %>
                                        </td>
                                        <td>
                                          <% crew.users.each do |other_user| %>
                                              <%= link_to "#{other_user.username}", show_profile_path(id: other_user) %></br>
                                          <% end %>
                                          <% other_requested_users = [] %>
                                          <% crew.crew_requests.each do |other_request| %>
                                              <% if other_request.user != current_user %>
                                                  other_requested_users << other_request.user
                                              <% end %>
                                          <% end %>
                                          <% if other_requested_users.any? %>
                                            Pending:</br>
                                            <% other_requested_users.each do |other_requested_user| %>
                                                <%= link_to "#{other_requested_user.username}", show_profile_path(id: other_requested_user) %></br>
                                            <% end %>
                                          <% end %>
                                        </td>
                                        <td class="actions">
                                            <%= link_to requests_accept_path(id: request), class: "edit" do %>
                                              <i class="fa fa-check"></i>Accept
                                            <% end %>
                                            </br></br>
                                            <%= link_to requests_reject_path(id: request), class: "edit" do %>
                                              <i class="fa fa-times"></i> Reject
                                            <% end %>
                                        </td>
                                    </tr>
                                    <% end %>
                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /.my-properties -->
                    </section><!-- /#my-properties -->
                </div><!-- /.col-md-9 -->
                <!-- end My Properties -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
