<div class="your-class">
    <% followers.each do |follower| %>
      <div class="follower" style="height: 85px; width: 85px; background-image: url(<%= follower.avatar.url(:medium) %>);" onclick="selectUser(this)" id="<%= follower.id %>"></div>
    <% end %>

<% if followers.any? %>
<h3>Selected:</h3>
<div class="selected-users row">
  <div class="holder" style="height: 85px; width: 85px;"></div>
  <div class="holder" style="height: 85px; width: 85px;"></div>
</div>
<% else %>
  <h4>No one else is following yet</h4>
<% end %>
<%= form_for crew do |f| %>
  <%= hidden_field_tag :orbit, orbit.id %>
  <%= hidden_field_tag :users, selected_users, id: 'submit-users' %>
  <div class="email-form">
    <%= text_field_tag :emails, nil, placeholder: "Invite users by email", class: "email-invite" %>
    <%= f.submit "Create Crew", class: "btn btn-default btn-email-create", id: "create-crew-button"%>
  </div>
<% end %>



<script type="text/javascript">
   $(document).ready(function(){
     $('.your-class').slick({
       slidesToShow: 3,
       draggable: false,
       infinite: false,
       variableWidth: true,
     });
   });
 </script>


<script type="text/javascript">
var selected = [];
function selectUser(divObj) {
  var id = divObj.getAttribute('id');
  var contained = $.inArray(id, selected);
  if (contained < 0) {
    var $selectedUser = $(divObj).clone().removeClass("slick-slide slick-active slick-current").addClass("selected").removeAttr('onclick');
    $selectedUser.prependTo(".selected-users");
    $(".holder").last().remove();
    selected.push(id);
    divObj.style.boxShadow = "0 0 0 4px green, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)";
  } else {
    selected.splice($.inArray(id, selected),1);
    $(".selected-users").find("#" + id).remove('#' + id);
    $(".selected-users").append("<div class='holder' style='height: 85px; width: 85px;''></div>");
    divObj.style.boxShadow = "0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)";
  }
};

$('#new_crew').submit(function(){ //listen for submit event
    $('#submit-users').val(selected);

    return true;
});
</script>
<!-- users%5B%5D=2&amp -->
