<div id="page-content">

        <div class="container page">
            <header><h1>Edit Your Property</h1></header>
            <%= form_for @listing do |f| %>
              <%= render 'shared/error_messages' %>

                <div class="row">
                    <div class="block">
                        <div class="col-md-9 col-sm-9">
                            <section id="submit-form">
                                <section id="basic-information">
                                    <header><h2>Basic Information</h2></header>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <%= f.label :title %>
                                                <%= f.text_field :title, class: 'form-control' %>
                                            </div><!-- /.form-group -->

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <%= f.label :price %>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <%= f.number_field :price, class: 'form-control' %>
                                                </div>
                                            </div><!-- /.form-group -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :description %>
                                        <%= f.text_area :description, rows: 8, class: 'form-control' %>
                                    </div><!-- /.form-group -->
                                </section><!-- /#basic-information -->
                                <section id="availability">
                                    <div class="row">
                                        <div class="col-md-6">
                                          <header><h2>Availablity Start</h2></header>
                                            <div class="row">
                                              <div class="col-md-12">
                                                <div class="form-group">
                                                  <div class="col-md-6">
                                                    <%= select_month(@start_date, name: "start_month", field_name: "start_month") %>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <%= select_year(@start_date, name: "start_year", start_year: Date.today.year, end_year: 1.years.from_now.year, field_name: "start_year") %>
                                                  </div>
                                                </div><!-- /.form-group -->
                                              </div>
                                            </div><!-- /.form-group -->

                                        </div>
                                        <div class="col-md-6">
                                          <header><h2>Availablity End</h2></header>
                                          <div class="row">
                                            <div class="col-md-12">
                                              <div class="form-group">
                                                <div class="col-md-6">
                                                  <%= select_month(@end_date, name: "end_month", field_name: "end_month") %>
                                                </div>
                                                <div class="col-md-6">
                                                  <%= select_year(@end_date, name: "end_year", start_year: Date.today.year, end_year: 2.years.from_now.year, field_name: "end_year") %>
                                                </div>
                                              </div><!-- /.form-group -->
                                            </div>
                                          </div><!-- /.form-group -->
                                        </div>
                                    </div>
                                </section><!-- /#availability -->
                                <section>
                                    <div class="row">
                                        <div class="block clearfix">
                                            <div class="col-md-6 col-sm-6">
                                                <section id="summary">
                                                    <header><h2>Summary</h2></header>
                                                    <div class="form-group">
                                                        <label for="submit-location">Property Type</label>
                                                        <select name="type" id="submit-location">
                                                            <option value="1">Apartment</option>
                                                            <option value="2">Condominium</option>
                                                            <option value="3">Cottage</option>
                                                            <option value="4">Flat</option>
                                                            <option value="5">House</option>
                                                        </select>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <%= f.label :bedrooms %>
                                                                <%= f.number_field :bedrooms, class: 'form-control' %>
                                                            </div><!-- /.form-group -->
                                                        </div><!-- /.col-md-6 -->
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <%= f.label :bathroms %>
                                                                <%= f.number_field :bathrooms, class: 'form-control' %>
                                                            </div><!-- /.form-group -->
                                                        </div><!-- /.col-md-6 -->
                                                    </div><!-- /.row -->
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <%= f.label :accommodates %>
                                                                <%= f.number_field :accommodates, class: 'form-control' %>
                                                            </div><!-- /.form-group -->
                                                        </div><!-- /.col-md-6 -->
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <%= f.label :security_deposit %>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">$</span>
                                                                    <%= f.text_field :security_deposit, class: 'form-control' %>
                                                                </div>
                                                            </div><!-- /.form-group -->
                                                        </div><!-- /.col-md-6 -->
                                                    </div><!-- /.row -->
                                                    <div class="form-group">
                                                        <%= f.label :included_appliances %>
                                                        <%= f.text_field :included_appliances, class: 'form-control' %>
                                                    </div><!-- /.form-group -->
                                                    <div class="form-group">
                                                        <%= f.label :utility_notes %>
                                                        <%= f.text_field :utility_notes, class: 'form-control' %>
                                                    </div><!-- /.form-group -->
                                                    <div class="form-group">
                                                        <%= f.label :parking_notes %>
                                                        <%= f.text_field :parking_notes, class: 'form-control' %>
                                                    </div><!-- /.form-group -->
                                                    <div class="form-group">
                                                        <%= f.label :pet_policy %>
                                                        <%= f.text_field :pet_policy, class: 'form-control' %>
                                                    </div><!-- /.form-group -->
                                                    <div class="checkbox">
                                                        <label>
                                                            <%= f.check_box :furnished %> Furnished<i class="fa fa-question-circle tool-tip"  data-toggle="tooltip" data-placement="right" title="Is the property already furnished for the lease period?"></i>
                                                        </label>
                                                    </div>

                                                </section><!-- /#summary -->
                                            </div><!-- /.col-md-6 -->
                                            <div class="col-md-6 col-sm-6">
                                                <section id="place-on-map">
                                                    <header class="section-title">
                                                        <h2>Location</h2>

                                                    </header>
                                                    <div class="form-group">
                                                        <%= f.label :address %>
                                                        <%= f.text_field :address, class: 'form-control' %>
                                                    </div><!-- /.form-group -->
                                                    <div class="form-group">
                                                        <%= f.label :address_2 %>
                                                        <%= f.text_field :address_2, class: 'form-control' %>
                                                    </div><!-- /.form-group -->
                                                    <div class="form-group">
                                                        <%= f.label :city %>
                                                        <%= f.text_field :city, class: 'form-control' %>
                                                    </div><!-- /.form-group -->
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <!-- <label for="submit-property-type">State</label>
                                                                <select name="type" id="submit-property-type">
                                                                    <option value="1">CA</option>
                                                                    <option value="2">NY</option>
                                                                </select> -->
                                                                <%= f.label :state %>
                                                                <%= f.text_field :state, class: 'form-control' %>
                                                            </div><!-- /.form-group -->
                                                        </div><!-- /.col-md-6 -->
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                              <%= f.label :zipcode %>
                                                              <%= f.number_field :zipcode, class: 'form-control' %>
                                                            </div><!-- /.form-group -->
                                                        </div><!-- /.col-md-6 -->
                                                    </div><!-- /.row -->
                                                    <hr>
                                                    <div class="form-group">
                                                        <label for="submit-description">Other Notes</label>
                                                        <textarea class="form-control" rows="6" name="submit-description"></textarea>
                                                    </div><!-- /.form-group -->
                                                </section><!-- /#place-on-map -->
                                            </div><!-- /.col-md-6 -->
                                        </div><!-- /.block -->

                                    </div><!-- /.row -->

                                </section>

                                <section class="block" id="cover-photo">
                                    <header><h2>Cover Photo</h2></header>
                                    <div class="center">
                                        <div class="form-group">
                                          <%= image_tag @cover_photo.image.url(:medium), style: "height: 150px; object-fit: scale-down;" if @cover_photo && @cover_photo.image.present? %>
                                           <%= file_field_tag 'cover_picture', type: :file, multiple: false, class: "file",
                                           accept: "image/jpeg,image/png", data: {
                                           show_upload: false, show_caption: false, show_remove: false,
                                           browse_class: "btn btn-default", browse_label: "Choose Cover Photo"} %>
                                        </div>
                                    </div>
                                </section>

                                <section class="block" id="gallery">
                                    <header><h2>Gallery</h2></header>
                                    <div class="center">
                                        <div class="form-group">
                                           <% @images.each do |picture| %>
                                           <span class="saved_image_group" id="image-<%= picture.id %>" style="position: relative;">
                                             <%= image_tag picture.image.url(:medium), style: "height: 150px; object-fit: scale-down;", class: "saved_image" %>
                                             <%= link_to '', picture, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :style => 'font-size: 24px;', :class => 'delete_picture fa fa-times-circle' %>
                                           </span>
                                           <% end %>
                                         <hr>
                                           <%= f.file_field :pictures, type: :file, multiple: true, class: "file",
                                           accept: "image/jpeg,image/png", data: {
                                           show_upload: false, show_caption: false, show_remove: false,
                                           browse_class: "btn btn-default", browse_label: "Browse Images"} %>
                                            <figure class="note"><strong>Hint:</strong> You can upload all images at once!</figure>
                                        </div>
                                    </div>
                                </section>

                                <hr>
                            </section>
                        </div><!-- /.col-md-9 -->
                        <div class="col-md-3 col-sm-3">
                            <aside class="submit-step">
                                <figure class="step-number">1</figure>
                                <div class="description">
                                    <h4>Enter Information About Property</h4>
                                    <p>Type information about your property. Be descriptive.
                                    </p>
                                </div>
                            </aside><!-- /.submit-step -->
                        </div><!-- /.col-md-3 -->
                      </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
                        <div class="col-md-3 col-sm-3">
                            <aside class="submit-step">
                                <figure class="step-number">2</figure>
                                <div class="description">
                                    <h4>Add Some More Details</h4>
                                    <p>Add the address and anything else tenants should know.
                                    </p>
                                </div>
                            </aside><!-- /.submit-step -->
                        </div><!-- /.col-md-3 -->
                    </div>
                </div><!-- /.row -->
                <div class="row">
                    <div class="block">
                        <div class="col-md-9 col-sm-9">
                            <div class="center">
                                <div class="form-group">
                                    <%= f.submit "Update Listing", class: "btn btn-primary large", style: "margin-top: 0; margin-bottom: 15px;" %>
                                </div><!-- /.form-group -->
                            </div>
                        </div>
                    </div>
                </div>
              <% end %>
        </div><!-- /.container -->

  </div>
