<div class="image-container">
  <%= image_tag @listing.pictures.first.image.url(:medium), class: "listing-header"  if @listing.pictures.any? %>
  <div class="parallax-content-2">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-8">
                  <h1><%= @listing.title %></h1>
                  <span><%= @listing.full_address %></span>
              </div>
              <div class="col-md-2 col-sm-2" style="float: right; margin-top: 10px; margin-right: 10px;">
                <h1>$<%= @listing.price %></h1>
              </div>
          </div>
      </div>
  </div>
</img>
</div>
<div id="page-content" style="margin-top: 25px;">
<div class="container">
            <div class="row">
                <!-- Property Detail Content -->
                <div class="col-md-9 col-sm-9">
                    <section id="property-detail">
                        <!-- <header class="property-title">
                            <h1></h1>
                            <figure></figure>
                        </header> -->

                        <% if @has_crew %>
                                <section id="crew">
                                    <header><h2>Your Crew</h2></header>

                                    <div class="col-md-6">
                                      <%= render 'chats/chat', chat: @chat%>
                                      <div id="messages">
                                        <%= render @crew.chat.messages %>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <%= form_for @message, url: messages_path(@message, listing: @listing, chat: @chat), remote: true do |f| %>
                                        <div>
                                          <%= f.text_area :text, rows: 5, cols: 40 %>
                                        </div>
                                        <div style="display:none">
                                          <%= hidden_field_tag :socket_id %>
                                        </div>
                                        <div>
                                          <%= f.submit 'Send' %>
                                        </div>
                                      <% end %>
                                    </div>

                                  <%= render 'members', crew: @crew, selected_users: @selected_users  %>

                                </section><!-- /#crew -->

                        <% elsif @is_orbitting %>
                              <section id="followers">
                                <header><h2>Make a Crew</h2></header>
                                <div class="row">
                                    <%= render 'followers', followers: @followers, orbit: @orbit, crew: @crew, selected_users: @selected_users %>
                                </div>
                              </section><!-- /#crew -->
                        <% end %>

                                <section id="description">
                                    <header><h2>Property Description</h2></header>
                                    <h4>
                                        <%= @listing.description %>
                                    </h4>
                                </section><!-- /#description -->
                                <section id="property-features">
                                    <header><h2>Additional Notes</h2></header>
                                    <ul class="list-unstyled property-features-list">
                                        <li><strong>Accommodates: &nbsp;</strong> <%= @listing.accommodates %></li>

                                        <li><strong>Bedrooms: &nbsp;</strong> <%= @listing.bedrooms %></li>
                                        <li><strong>Furnished: &nbsp;</strong> <%= @listing.furnished ? "Yes" : "No" %></li>
                                        <li><strong>Bathrooms: &nbsp;</strong> <%= @listing.bathrooms %></li>

                                        <li><strong>Security Deposit: &nbsp;</strong> $<%= @listing.security_deposit %></li>

                                        <% if @listing.included_appliances.present? %>
                                        <li><strong>Included Appliances: &nbsp;</strong> <%= @listing.included_appliances %></li>
                                        <% end%>

                                        <li><strong>Pet Policy: &nbsp;</strong> <%= @listing.pet_policy %></li>
                                        <li><strong>Parking Notes: &nbsp;</strong> <%= @listing.parking_notes %></li>

                                        <% if @listing.utility_notes.present? %>
                                        <li><strong>Utilities Notes: &nbsp;</strong> <%= @listing.utility_notes %></li>
                                        <% end%>


                                    </ul>
                                </section><!-- /#property-features -->
                                <section id="property-gallery">
                                  <div class="owl-carousel property-carousel">
                                    <% @listing.pictures.each do |picture| %>
                                      <div class="property-slide">
                                        <div style="height: 400px;">
                                          <%= image_tag picture.image.url(:medium), style: "height: 400px; object-fit: scale-down;" %>
                                        </div>
                                      </div><!-- /.property-slide -->
                                    <% end %>
                                  </div><!-- /.property-carousel -->
                              </section>
                              <script type="text/javascript">
                                $(window).load(function(){
                                      initializeOwl(false);
                                  });
                              </script>

                                <!-- <section id="property-map">
                                    <header><h2>Map</h2></header>
                                    <div class="property-detail-map-wrapper">
                                        <div class="property-detail-map" id="property-detail-map"></div>
                                    </div>
                                </section>< /#property-map -->
                            <% if @listing.owner.present? %>
                                <section class="agent-form">
                                  <header><h2>About the Owner</h2></header>
                                        <aside class="agent-info clearfix">
                                            <figure><%= image_tag @listing.owner.avatar.url(:medium) %></figure>
                                            <div class="agent-contact-info">
                                                <h3><%= @listing.owner.full_name %></h3>
                                                <p>
                                                    <%= @listing.owner.about %>
                                                </p>
                                                <hr>
                                                <%= link_to "Full Profile", show_profile_path(@listing.owner) %>
                                            </div>
                                        </aside><!-- /.agent-info -->
                                </section><!-- /.agent-form -->
                              <% end %>
                              </section><!-- /#property-detail -->
                </div><!-- /.row -->

                <!-- sidebar -->
                <div class="col-md-3 col-sm-3">
                    <section id="sidebar">
                        <aside id="edit-search">
                          <% if @listing.owner.present? && @listing.owner == current_user %>
                            <header><h3>Follow Stats</h3></header>
                            <ul>
                                <li><strong>Followers: &nbsp;</strong> <%= @listing.users.count %></li>
                                <li><strong>Availablity Start: &nbsp;</strong> <%= @listing.start_date.to_formatted_s(:long)  %></li>
                                <li><strong>Availablity End: &nbsp;&nbsp;&nbsp;</strong> <%= @listing.end_date.to_formatted_s(:long)  %></li>
                                <li><strong>Created: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> <%= @listing.created_at.to_date.to_formatted_s(:long)  %></li>
                            </ul>
                            <%= button_to "Edit",
                                edit_listing_path(id: @listing.id),
                                class: "btn btn-default", method: "get" %>
                          <% else %>
                            <header><h3>Follow</h3></header>
                            <% if @has_crew %>
                              <% if @not_available %>
                                <h4 style="color: red;">These dates are no longer available</h4></br>
                              <% end %>
                                  <%= form_tag({controller: "listings", action: "update_date"}, method: "post", class: "form-group") do %>
                                    <%= hidden_field_tag :id , @listing.id %>
                                    <div class="form-group">
                                      <%= label_tag(:start_date, "Move in") %>
                                      <%= select_tag("start_date", options_for_select(@months, @start_date), disabled: true) %>
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                      <%= label_tag(:lease_length, "Lease Length", class: "icon-clock") %>
                                      <%= select_tag :lease_length, options_for_select({'3 Months' => 3, '6 Months' => 6, '9 Months' => 9, '12 Months' => 12}, selected: @orbit.lease_length, disabled: true) %>
                                    </div>
                                  </br>
                                  <% end %>
                                  <%= button_to "Request", listings_request_path(id: @listing.id, crew: @crew, date: @date, lease_length: @lease_length, roommates: @roommates), method: :post, class: "btn btn-default" if @crew.crew_admin == current_user %>
                                  <%= link_to "Leave Crew", crews_leave_path(crew: @crew), class: "btn btn-default", style: "background-color: #073855;"%>
                            <% elsif @is_orbitting %>
                                <% if @not_available %>
                                  <h4 style="color: red;">These dates are no longer available</h4></br>
                                <% end %>
                                  <%= form_tag({controller: "listings", action: "update_date"}, method: "post", class: "form-group") do %>
                                    <%= hidden_field_tag :id , @listing.id %>
                                    <div class="form-group">
                                      <%= label_tag(:start_date, "Move in") %>
                                      <%= select_tag("start_date", options_for_select(@months, @start_date)) %>
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                      <%= label_tag(:lease_length, "Lease Length", class: "icon-clock") %>
                                      <%= select_tag :lease_length, options_for_select({'3 Months' => 3, '6 Months' => 6, '9 Months' => 9, '12 Months' => 12}, selected: @orbit.lease_length) %>
                                    </div>
                                  </br>
                                    <%= submit_tag "Update Dates", { class:"btn btn-default" } %>
                                  <% end %>
                                  <div class="form-group">
                                      <%= link_to "Unfollow", listings_unorbit_path(id: @listing.id, date: @date, lease_length: @lease_length, roommates: @roommates), method: :post, class: "btn btn-default", style: "background-color: #073855; width: 263px;"%>
                                  </div>
                            <% else %>
                                  <%= form_tag({controller: "listings", action: "orbit"}, method: "post", class: "form-group") do %>
                                    <%= hidden_field_tag :id , @listing.id %>
                                    <div class="form-group">
                                      <%= label_tag(:start_date, "Move in") %>
                                      <%= select_tag("start_date", options_for_select(@months, @start_date)) %>
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                      <%= label_tag(:lease_length, "Lease Length", class: "icon-clock") %>
                                      <%= select_tag :lease_length, options_for_select([['3 Months', 3], ['6 Months', 6], ['9 Months', 9], ['12 Months', 12]], selected: :lease_length, class: "", name: "category" ) %>
                                    </div>
                                    <%= submit_tag "Follow", { class:"btn btn-default" } %>
                                  <% end %>
                            <% end %>
                          <% end %>
                        </aside><!-- /#edit-search -->
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->

<div class="collapse" id="collapseMap">
   <div id="map" class="map"></div>
</div><!-- End Map -->

<script type="text/javascript">
$( document ).ready(function( $ ) {
  $( '#Img_carousel' ).sliderPro({
    width: 960,
    height: 500,
    fade: true,
    arrows: true,
    buttons: false,
    fullScreen: false,
    smallSize: 500,
    startSlide: 0,
    mediumSize: 1000,
    largeSize: 3000,
    thumbnailArrows: true,
    autoplay: false
  });
});
</script>
  </div>
