<div class="image-container">
  <%= image_tag @listing.pictures.first.image.url(:medium), class: "listing-header"  if @listing.pictures.any? %>
  <div class="parallax-content-2">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12">
                <div id="banner">
                    <span class="listing-title col-md-8"><%= @listing.title %></span>
                    <span class="listing-price col-md-4">$<%= @listing.price %>0</span></br>
                    <span class="listing-address col-md-8"><%= @listing.full_address %></span>
              </div>
            </div>
          </div>
      </div>
  </div>
</img>
</div>
<div id="page-content">
<div class="container page">
            <div class="row">
                <!-- Property Detail Content -->
                <div class="col-md-8 col-sm-8">
                    <section id="property-detail">
                        <!-- <header class="property-title">
                            <h1></h1>
                            <figure></figure>
                        </header> -->

                        <% if @has_crew %>
                        <div class="col-md-12">
                                <section id="crew">
                                    <header><h2>Your Crew</h2></header>
                                    <div class="col-md-12 messaging-container" style="margin-top: 15px; margin-left: 0;">
                                      <div class="col-md-12">
                                        <%= render 'chats/chat', chat: @chat%>
                                        <div id="messages" class="messages">
                                          <%= render @crew.chat.messages %>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <%= form_for @message, url: messages_path(@message, listing: @listing, chat: @chat), remote: true do |f| %>
                                          <div>
                                            <%= f.text_field :text, class: "new-messages", placeholder: "Type message" %>
                                          <div style="display:none">
                                            <%= hidden_field_tag :socket_id %>
                                          </div>
                                            <%= f.submit 'Send', class: "btn", id: "send-message" %>
                                          </div>
                                        <% end %>
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                      <%= render 'members', crew: @crew, selected_users: @selected_users  %>
                                    </div>

                                </section><!-- /#crew -->
                              </div>

                        <% elsif @is_orbitting %>
                          <div class="col-md-12">
                              <section id="followers">
                                <header><h2>Make a Crew</h2></header>
                                <div class="row">
                                    <%= render 'followers', followers: @followers, orbit: @orbit, crew: @crew, selected_users: @selected_users %>
                                </div>
                              </section><!-- /#crew -->
                            </div>
                        <% end %>
                          <div class="col-md-12">
                                <section id="description">
                                    <header><h2>Property Description</h2></header>
                                    <h4>
                                        <%= @listing.description %>
                                    </h4>
                                </section><!-- /#description -->
                                <section id="property-features">
                                    <header><h2>Additional Notes</h2></header>
                                    <ul class="list-unstyled property-features-list">
                                        <li><strong>Accommodates: &nbsp;</strong> <%= @listing.accommodates %></li>

                                        <li><strong>Bedrooms: &nbsp;</strong> <%= @listing.bedrooms %></li>
                                        <li><strong>Security Deposit: &nbsp;</strong> $<%= @listing.security_deposit %></li>

                                        <li><strong>Bathrooms: &nbsp;</strong> <%= @listing.bathrooms %></li>
                                        <li><strong>Included Appliances: &nbsp;</strong> <%= @listing.included_appliances %></li>
                                        <li><strong>Pet Policy: &nbsp;</strong> <%= @listing.pet_policy %></li>

                                        <li><strong>Parking Notes: &nbsp;</strong> <%= @listing.parking_notes %></li>
                                        <li><strong>Furnished: &nbsp;</strong> <%= @listing.furnished ? "Yes" : "No" %></li>


                                        <li><strong>Utilities Notes: &nbsp;</strong> <%= @listing.utility_notes %></li>


                                    </ul>
                                </section><!-- /#property-features -->
                              </div>
                              <div class="col-md-12">
                                <section id="property-gallery">
                                  <div class="owl-carousel property-carousel">
                                    <% @listing.pictures.each do |picture| %>
                                      <div class="property-slide">
                                        <div style="height: 400px;">
                                          <%= image_tag picture.image.url(:medium), style: "height: 400px; object-fit: scale-down;" %>
                                        </div>
                                      </div><!-- /.property-slide -->
                                    <% end %>
                                  </div><!-- /.property-carousel -->
                              </section>
                            </div>
                              <script type="text/javascript">
                                $(window).load(function(){
                                      initializeOwl(false);
                                  });
                              </script>

                            <% if @listing.owner.present? %>
                            <div class="col-md-12">
                                <section class="agent-form" style="height: 140px;">
                                  <header><h2>About the Owner</h2></header>
                                        <aside class="agent-info clearfix">
                                            <figure><%= image_tag @listing.owner.avatar.url(:medium) %></figure>
                                            <div class="agent-contact-info">
                                                <h3><%= @listing.owner.full_name %></h3>
                                                <p>
                                                    <%= @listing.owner.about %>
                                                </p>
                                                <%= link_to "Full Profile", show_profile_path(@listing.owner) %>
                                            </div>
                                        </aside><!-- /.agent-info -->
                                </section><!-- /.agent-form -->
                              </div>
                              <% end %>
                              </section><!-- /#property-detail -->
                </div><!-- /.row -->

                <!-- sidebar -->
                <div class="col-md-4 col-sm-4">
                    <section id="sidebar" class="listing-border">
                        <aside id="edit-search" style="margin-bottom: 20px;">
                          <% if @listing.owner.present? && @listing.owner == current_user %>
                            <header><h3 class="inner">Follow Stats</h3></header>
                            <ul>
                                <li style="margin-bottom: 5px;"><strong>Followers: &nbsp;</strong> <%= @listing.users.count %></li>
                                <li style="margin-bottom: 5px;"><strong>Availablity Start: &nbsp;</strong> <%= @listing.start_date.to_formatted_s(:long)  %></li>
                                <li style="margin-bottom: 5px;"><strong>Availablity End: &nbsp;&nbsp;&nbsp;</strong> <%= @listing.end_date.to_formatted_s(:long)  %></li>
                                <li style="margin-bottom: 5px;"><strong>Created: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> <%= @listing.created_at.to_date.to_formatted_s(:long)  %></li>
                            </ul>
                            <%= button_to "Edit",
                                edit_listing_path(id: @listing.id),
                                class: "btn btn-default", method: "get", style: "margin-bottom: 15px;" %>
                          <% else %>
                            <h3 class="inner">Follow</h3>
                            <% if @has_crew %>
                              <% if @not_available %>
                                <h4 style="color: red;">These dates are no longer available</h4></br>
                              <% end %>
                                  <%= form_tag({controller: "listings", action: "update_date"}, method: "post", class: "form-group") do %>
                                    <%= hidden_field_tag :id , @listing.id %>
                                    <div class="form-group">
                                      <%= label_tag(:start_date, "Move in") %>
                                      <%= select_tag("start_date", options_for_select(@months, @start_date), disabled: true) %>
                                    </div><!-- /.form-group -->
                                  <% if @crew.crew_admin == current_user %>
                                    <div class="form-group">
                                  <% else %>
                                    <div class="form-group" style="margin-bottom: 25px;">
                                  <% end %>
                                      <%= label_tag(:lease_length, "Lease Length", class: "icon-clock") %>
                                      <%= select_tag :lease_length, options_for_select({'3 Months' => 3, '6 Months' => 6, '9 Months' => 9, '12 Months' => 12}, selected: @orbit.lease_length, disabled: true) %>
                                    </div>
                                  <% end %>
                                  <%= button_to "Request", listings_request_path(id: @listing.id, crew: @crew, date: @date, lease_length: @lease_length, roommates: @roommates), method: :post, class: "btn btn-default btn-submit" if @crew.crew_admin == current_user %>
                                  <%= link_to "Leave Crew", crews_leave_path(crew: @crew), class: "btn btn-default btn-unfollow" %>
                            <% elsif @is_orbitting %>
                                <% if @not_available %>
                                  <h4 style="color: red;">These dates are no longer available</h4></br>
                                <% end %>
                                  <%= form_tag({controller: "listings", action: "update_date"}, method: "post", class: "form-group") do %>
                                    <%= hidden_field_tag :id , @listing.id %>
                                    <div class="form-group">
                                      <%= label_tag(:start_date, "Move in") %>
                                      <%= select_tag("start_date", options_for_select(@months, @start_date)) %>
                                    </div><!-- /.form-group -->
                                    <div class="form-group" style="margin-bottom: 0;">
                                      <%= label_tag(:lease_length, "Lease Length", class: "icon-clock") %>
                                      <%= select_tag :lease_length, options_for_select({'3 Months' => 3, '6 Months' => 6, '9 Months' => 9, '12 Months' => 12}, selected: @orbit.lease_length) %>
                                    </div>
                                  </br>
                                    <%= submit_tag "Update Dates", { class:"btn btn-default" } %>
                                  <% end %>
                                  <%= link_to "Unfollow", listings_unorbit_path(id: @listing.id, date: @date, lease_length: @lease_length, roommates: @roommates), method: :post, class: "btn btn-default btn-unfollow" %>

                                  </div>
                            <% else %>
                                  <%= form_tag({controller: "listings", action: "orbit"}, method: "post", class: "form-group") do %>
                                    <%= hidden_field_tag :id , @listing.id %>
                                    <div class="form-group">
                                      <%= label_tag(:start_date, "Move in") %>
                                      <%= select_tag("start_date", options_for_select(@months, @start_date)) %>
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                      <%= label_tag(:lease_length, "Lease Length", class: "icon-clock") %>
                                      <%= select_tag :lease_length, options_for_select([['3 Months', 3], ['6 Months', 6], ['9 Months', 9], ['12 Months', 12]], selected: :lease_length, class: "", name: "category" ) %>
                                    </div>
                                    <%= submit_tag "Follow", { class:"btn btn-default btn-submit" } %>
                                  <% end %>
                            <% end %>
                          <% end %>
                        </aside><!-- /#edit-search -->
                    </section><!-- /#sidebar -->
                    <% if @has_crew %>
                      <div class="form-border" style="text-align: center; margin-bottom: 15px;">
                        <%= form_for @crew, url: crews_add_user_path(crew: @crew) do |f| %>
                            <%= text_field_tag :emails, nil, placeholder: "Invite users by email", class: "sidebar-invite" %>
                            <%= f.submit "Invite Members", class: "btn btn-default btn-email-create", id: "btn btn-default", style: "width: 100%; background-color: #85c99d;" %>
                        <% end %>
                      </div>
                    <% end %>
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->

<div class="collapse" id="collapseMap">
   <div id="map" class="map"></div>
</div><!-- End Map -->

<script type="text/javascript">
var d = $('#messages');
d.scrollTop(d.prop("scrollHeight"));
</script>

  </div>
