
<section class="parallax-window" data-parallax="scroll" data-image-src="https://a0.muscache.com/im/pictures/54309004/523395fc_original.jpg">
  <div class="parallax-content-2">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-8">
                  <h1><%= @listing.title %></h1>
                  <span><%= @listing.full_address %></span><br>
                  <span>Host - <%= @listing.owner.full_name %></span>
              </div>
              <div class="col-md-4 col-sm-4">
                  <div id="price_single_main" class="hotel">
                      from/per month <span style="color: white;"><sup>$</sup><%= @listing.price %></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section><!-- End section -->

<div class="collapse" id="collapseMap">
   <div id="map" class="map"></div>
</div><!-- End Map -->

<div class="container margin_60">
<div class="row">
    <div class="col-md-8" id="single_tour_desc">
        <p class="visible-sm visible-xs"><a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a></p><!-- Map button for tablets/mobiles -->

        <% if @crew.present? %>
          <div class="row">
              <div class="col-md-3">
                  <h3>Your Crew</h3>
              </div>
              <div class="col-md-3">
                <%= render 'chats/chat', chat: @chat%>
                <div id="messages">
                  <%= render @crew.chat.messages %>
                </div>
              </div>
              <div class="col-md-3">
                <%= form_for @message, url: messages_path(@message, listing: @listing, chat: @chat), remote: true do |f| %>
                  <div>
                    <%= f.text_area :text, rows: 5, cols: 40 %>
                  </div>
                  <div style="display:none">
                    <%= hidden_field_tag :socket_id %>
                  </div>
                  <div>
                    <%= f.submit 'Send' %>
                  </div>
                <% end %>
              </div>
              <!-- Set Dates -->
          </div><!-- End row  -->
          <hr>
          <% elsif @orbit.present? %>
          <div class="row">
              <div class="col-md-3">
                  <h3>Other Followers</h3>
              </div>
              <div class="col-md-6">
                  <%= render 'followers', followers: @followers, orbit: @orbit %>
              </div>
              <!-- Set Dates -->
          </div><!-- End row  -->
          <hr>
        <% end %>


        <div class="row">
            <div class="col-md-3">
                <h3>Description</h3>
            </div>
            <div class="col-md-9">
                <p>
                    <%= @listing.description %>
                </p>
                <h4>Title</h4>
                <p>
                    Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                </p>
            </div><!-- End col-md-9  -->
        </div><!-- End row  -->

        <hr>

        <div class="row">
            <div class="col-md-3">
                <h3>Rooms Types</h3>
            </div>
            <div class="col-md-9">
              <h4>Single Room</h4>
                <p>
                    Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                </p>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <ul class="list_icons">
                            <li><i class="icon_set_1_icon-86"></i> Free wifi</li>
                            <li><i class="icon_set_2_icon-116"></i> Plasma Tv</li>
                            <li><i class="icon_set_2_icon-106"></i> Safety  box</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="list_ok">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>No scripta electram necessitatibus sit</li>
                            <li>Quidam percipitur instructior an eum</li>
                        </ul>
                    </div>
                </div><!-- End row  -->


                 <hr>

                 <h4>Double Room</h4>
                <p>
                    Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                </p>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <ul class="list_icons">
                            <li><i class="icon_set_1_icon-86"></i> Free wifi</li>
                            <li><i class="icon_set_2_icon-116"></i> Plasma Tv</li>
                            <li><i class="icon_set_2_icon-106"></i> Safety  box</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="list_ok">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>No scripta electram necessitatibus sit</li>
                            <li>Quidam percipitur instructior an eum</li>
                        </ul>
                    </div>
                </div><!-- End row  -->

            </div><!-- End col-md-9  -->
        </div><!-- End row  -->
    </div><!--End  single_tour_desc-->

    <aside class="col-md-4">
    <p class="hidden-sm hidden-xs">
        <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a>
    </p>
    <div class="box_style_1 expose">
        <h3 class="inner">Follow</h3>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label><i class="icon-calendar-7"></i> Move in</label>
                    <input class="date-pick form-control" data-date-format="M d, D" type="text">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                 <div class="form-group">
                    <label><i class="icon-calendar-7"></i> Move out</label>
                    <input class="date-pick form-control" data-date-format="M d, D" type="text">
                </div>
            </div>
        </div>
        <%= link_to "Land", listings_land_path(id: @listing.id, date: @date, lease_length: @lease_length, roommates: @roommates), method: :post, class: "btn_full_outline" %>
        <% if @orbit.present? %>
          <a class="btn_full" href="#">Change follow dates</a>
          <%= link_to "Unfollow", listings_unorbit_path(id: @listing.id, date: @date, lease_length: @lease_length, roommates: @roommates), method: :post, class: "btn_full_outline" %>
        <% else %>
        <!-- Need to use the dates in current view not params -->
          <%= link_to "Follow", listings_orbit_path(id: @listing.id, date: @date, lease_length: @lease_length, roommates: @roommates), method: :post, class: "btn_full" %>
        <% end %>
    </div><!--/box_style_1 -->
    <% if @orbit.present? %>
      <div class="box_style_4">
          <h4><span>Create a Crew</span></h4>
      </div>
    <% end %>
  </aside><!--End aside -->
</div><!--End row -->
</div><!--End container -->
