<div id="page-content" style="margin-top: 150px;">
<div class="container">
            <div class="row">
							<!-- sidebar -->
							<div class="col-md-3 col-sm-3">
									<section id="sidebar">
											<aside id="edit-search">
													<header><h3>Search Properties</h3></header>
														<%= form_tag({controller: "search", action: "results"}, method: "get", class: "form-search", role: "form", id: "form-sidebar") do %>

															<div class="form-group">
																	<%= select_tag :location, options_for_select([['San Francisco', 0], ['Silicon Valley', 1], ['New York', 2], ['Pittsburgh', 3]], params[:location]), name: "form-sale-city" %>
															</div><!-- /.form-group -->
															<div class="form-group">
																	<%= select_tag("date", options_for_select(@months, @date)) %>
															</div><!-- /.form-group -->
															<div class="form-group">
																	<%= select_tag :lease_length, options_for_select([["Lease Length", ''], ['3 Months', 3], ['6 Months', 6], ['9 Months', 9], ['12 Months', 12]], selected: params[:lease_length], class: "styled-select", name: "category" ) %>
															</div><!-- /.form-group -->
															<div class="form-group input-group">
                                <span class="input-group-addon">$</span>
																  <%= text_field_tag(:max, params[:max], {placeholder: "Your Max Rent"}) %>
																	<!-- <div class="price-range">
																			<input id="price-input" type="text" name="price" value="1000;299000">
																	</div> -->
															</div>
															<div class="form-group">
																	<%= submit_tag "Search", { class:"btn btn-default"} %>
															</div><!-- /.form-group -->
														<% end %>
											</aside><!-- /#edit-search -->

									</section><!-- /#sidebar -->
							</div><!-- /.col-md-3 -->
							<!-- end Sidebar -->
                <!-- Results -->
                <div class="col-md-9 col-sm-9">
                    <section id="results">

                      <h3 style="float: right;"><%= link_to "All Results", url_options={location: params[:location], date: @date, lease_length: params[:lease_length], max: params[:max] } %></h3>
                        <header><h1>Properties</h1></header>
                        <section id="properties">
                        <% if params[:roommates] || params[:max].blank? %>
        													<% @listings.in_groups_of 3 do |triplets| %>
        														<div class="row">
        										          <% triplets.each do |listing| %>
        																<% if listing %>
        																	<%= render partial: 'search/listing', locals: {listing: listing, date: @date, lease_length: @lease_length} %>
        										          	<% end %>
                                      <% end %>
                                    </div>
        										      <% end %>
        										        <!-- End row -->
        														</br>
                        <% else %>
                          <% if @listings_1.any? %>
                          <h2><%= link_to "1 Roommate", url_options={location: params[:location], date: @date, lease_length: params[:lease_length], max: params[:max], roommates: 1} %></h2>
                              <% @listings_1.in_groups_of 3 do |triplets| %>
                                <div class="row">
                                  <% triplets.each do |listing| %>
                                    <% if listing %>
                                      <%= render partial: 'search/listing', locals: {listing: listing, date: @date, lease_length: @lease_length} %>
                                    <% end %>
                                  <% end %>
                                </div>
                                </br>
                              <% end %>
                            <% end %>
                            <% if @listings_2.any? %>
                            <h2><%= link_to "2 Roommates", url_options={location: params[:location], date: @date, lease_length: params[:lease_length], max: params[:max], roommates: 1} %></h2>
                                <% @listings_2.in_groups_of 3 do |triplets| %>
                                  <div class="row">
                                    <% triplets.each do |listing| %>
                                      <% if listing %>
                                        <%= render partial: 'search/listing', locals: {listing: listing, date: @date, lease_length: @lease_length} %>
                                      <% end %>
                                    <% end %>
                                  </div>
                                  </br>
                                <% end %>
                            <% end %>

                            <% if @listings_3.any? %>
                              <h2><%= link_to "3 Roommates", url_options={location: params[:location], date: @date, lease_length: params[:lease_length], max: params[:max], roommates: 1} %></h2>

                                    <% @listings_3.in_groups_of 3 do |triplets| %>
                                      <div class="row">
                                        <% triplets.each do |listing| %>
                                          <% if listing %>
                                            <%= render partial: 'search/listing', locals: {listing: listing, date: @date, lease_length: @lease_length} %>
                                          <% end %>
                                        <% end %>
                                      </div>
                                    </br>
                                    <% end %>
                              <% end %>
                              <% if @listings_more.any? %>
                                <h2><%= link_to "More Roommates", url_options={location: params[:location], date: @date, lease_length: params[:lease_length], max: params[:max], roommates: 1} %></h2>

                                    <% @listings_more.in_groups_of 3 do |triplets| %>
                                      <div class="row">
                                        <% triplets.each do |listing| %>
                                          <% if listing %>
                                            <%= render partial: 'search/listing', locals: {listing: listing, date: @date, lease_length: @lease_length} %>
                                          <% end %>
                                        <% end %>
                                      </div>
                                      </br>
                                    <% end %>
                              <% end %>
                        <% end %>
                        <!-- Pagination -->
                        <!-- <div class="center"> -->
                            <!-- <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul> /.pagination-->
                        <!-- </div>/.center-->

                        </section><!-- /#properties-->
                    </section><!-- /#results -->
                </div><!-- /.col-md-9 -->
                <!-- end Results -->


            </div><!-- /.row -->
        </div><!-- /.container -->
 </div>
