
<div class="collapse" id="collapseMap">
	<div id="map" class="map"></div>
</div><!-- End Map -->

<div class="container margin_60">
	<div class="row">
	<aside class="col-lg-3 col-md-3">
            <p>
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a>
            </p>

		<div id="filters_col">
			<a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters <i class="icon-plus-1 pull-right"></i></a>
			<div class="collapse in" id="collapseFilters">
				<div class="filter_type">
					<h6>Price</h6>
					<ul>

					</ul>
				</div>
				<div class="filter_type">
					<h6>Roommates</h6>
				</div>
				<div class="filter_type">
					<h6>Dates</h6>
				</div>

			</div><!--End collapse -->
		</div><!--End filters col-->

		</aside><!--End aside -->

		<div class="col-lg-9 col-md-8">

			<div id="tools">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="styled-select-filters">
							<select name="sort_price" id="sort_price">
								<option value="" selected>Sort by price</option>
								<option value="lower">Lowest price</option>
								<option value="higher">Highest price</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="styled-select-filters">
							<select name="sort_rating" id="sort_rating">
								<option value="" selected>Sort by ranking</option>
								<option value="lower">Lowest ranking</option>
								<option value="higher">Highest ranking</option>
							</select>
						</div>
					</div>
				</div>
			</div><!--End tools -->

      <% @listings.in_groups_of 2 do |pairs| %>
  			<div class="row">
          <% pairs.each do |listing| %>
            <% if listing %>
      				<div class="col-md-6 col-sm-6 wow">
      					<div class="hotel_container">
      						<div class="img_container">
      							<a href="#">
                      <%= image_tag listing.images.first, width: 800, height: 533, class: "img-responsive", alt: "" %>
        							<div class="short_info hotel">
        								Per Month<span class="price"><sup>$</sup><%= listing.price %></span>
        							</div>
      							</a>
      						</div>
      						<div class="hotel_title">
      							<h3><strong><%= link_to listing.title, listing_path(id: listing, date: @date, lease_length: @lease_length) %></strong></h3>
                    <h6><%= listing.city%>, <%= listing.state %></h6>
      							<div class="wishlist">
      								<a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span class="tooltip-back">Follow this listing</span></span></a>
      							</div><!-- End wish list-->
      						</div>
      					</div><!-- End box tour -->
      				</div><!-- End col-md-6 -->
            <% end %>
          <% end %>
        </div><!-- End row -->
      <% end %>

            <hr>

				<div class="text-center">
					<ul class="pagination">
						<li><a href="#">Prev</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div><!-- end pagination-->

		</div><!-- End col lg 9 -->
	</div><!-- End row -->
</div><!-- End container -->

<script>
$('input').iCheck({
   checkboxClass: 'icheckbox_square-grey',
   radioClass: 'iradio_square-grey'
 });
 </script>

 <style>
       #map {
         width: 100%;
         height: 400px;
       }
 </style>
 <script src="https://maps.googleapis.com/maps/api/js"></script>
 <script>
 $('#collapseMap').on('shown.bs.collapse', function(e){
	(function(A) {

	if (!Array.prototype.forEach)
		A.forEach = A.forEach || function(action, that) {
			for (var i = 0, l = this.length; i < l; i++)
				if (i in this)
					action.call(that, this[i], i, this);
			};

		})(Array.prototype);

		var
		mapObject,
		markers = [],
		markersData = {
			'Listings': [
				<% @listings.each do |listing| %>
				{
					name: '<%= listing.title %>',
					location_latitude: <%= listing.latitude %>,
					location_longitude: <%= listing.longitude %>,
					map_image_url: 'img/thumb_map_1.jpg',
					name_point: '<%= listing.title %>',
					description_point: '<%= listing.description %>',
					url_point: '<%= listing_path(listing) %>'
				},

			<% end %>
			]

		};


			var mapOptions = {
				zoom: 12,
				center: new google.maps.LatLng(<%= @coordinates.first %>, <%= @coordinates.last %>),
				mapTypeId: google.maps.MapTypeId.ROADMAP,

				mapTypeControl: false,
				mapTypeControlOptions: {
					style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
					position: google.maps.ControlPosition.LEFT_CENTER
				},
				panControl: false,
				panControlOptions: {
					position: google.maps.ControlPosition.TOP_RIGHT
				},
				zoomControl: true,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.LARGE,
					position: google.maps.ControlPosition.TOP_RIGHT
				},
				scrollwheel: false,
				scaleControl: false,
				scaleControlOptions: {
					position: google.maps.ControlPosition.TOP_LEFT
				},
				streetViewControl: true,
				streetViewControlOptions: {
					position: google.maps.ControlPosition.LEFT_TOP
				},
				styles: [/*map styles*/]
			};
			var
			marker;
			mapObject = new google.maps.Map(document.getElementById('map'), mapOptions);
			for (var key in markersData)
				markersData[key].forEach(function (item) {
					marker = new google.maps.Marker({
						position: new google.maps.LatLng(item.location_latitude, item.location_longitude),
						map: mapObject,
						icon: '<%= asset_path("home_pin.png") %>',
					});

					if ('undefined' === typeof markers[key])
						markers[key] = [];
					markers[key].push(marker);
					google.maps.event.addListener(marker, 'click', (function () {
			 closeInfoBox();
			 getInfoBox(item).open(mapObject, this);
			 mapObject.setCenter(new google.maps.LatLng(item.location_latitude, item.location_longitude));
			}));

	});

		function hideAllMarkers () {
			for (var key in markers)
				markers[key].forEach(function (marker) {
					marker.setMap(null);
				});
		};

		function closeInfoBox() {
			$('div.infoBox').remove();
		};

		function getInfoBox(item) {
			return new InfoBox({
				content:
				'<div class="marker_info" id="marker_info">' +
				'<img src="' + item.map_image_url + '" alt=""/>' +
				'<h3>'+ item.name_point +'</h3>' +
				'<span>'+ item.description_point +'</span>' +
				'<a href="'+ item.url_point + '" class="btn_1">Details</a>' +
				'</div>',
				disableAutoPan: true,
				maxWidth: 0,
				pixelOffset: new google.maps.Size(40, -190),
				closeBoxMargin: '5px -20px 2px 2px',
				closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
				isHidden: false,
				pane: 'floatPane',
				enableEventPropagation: true
			});


		};

		 });
 </script>
 <!-- Map -->
