<!-- Page Content -->
<div id="page-content">
    <div class="container page">
      <div class="col-md-12">
        <header><h1>Sign In</h1></header>
      </div>
        <div class="row">
          </br></br>
            <div class="col-md-5 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <%= form_for(resource, html: {class: "user_sign"}, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-group">
                        <%= f.label :email %>
                        <%= f.email_field :email, autofocus: true, class: "form-control" %>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div><!-- /.form-group -->
                    <div class="form-group clearfix">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                      <%= f.submit "Log in", class: "btn btn-default registration", id: "account-submit" %>
                    </div><!-- /.form-group -->
                <% end %>
              </br>
                <div class="center"><%= render "users/shared/links" %></div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->
