<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Roomie Booking</h1>
    <p>
      Hi<%= @users_names.to_sentence %>, <br>
      Your request for the <%= @listing.title %> listing has been denied.
    </p>
    <p>
      Listing: <%= @listing.title %> (<%= url_for @listing %>)</br>
      Start: <%= @start_date.to_formatted_s(:long) %></br>
      End: <%= @end_date.to_formatted_s(:long) %>
    </p>
    <p>
      Keep in mind, you can always send another request.
    </p>
    <p>Thanks for using Roomie and have a great day!</br>
    The Roomie team.</p>
  </body>
</html>
