
          <%= form_tag({controller: "search", action: "results"}, method: "get") do %>

                    <%= label_tag(:location, "Where do you want to stay?") %>
                    <%= text_field_tag :location, nil, placeholder: "i.e. San Francisco",
                                                      required: true, class: "form-control" %>


          <%= render(partial: "shared/google") %>
              <%= label_tag(:start_date, "Move-in Month") %>
              <%= select_month(Date.today + 1.month, class: "dd-container", name: "month") %>
              <%= select_year(Date.today, class: "dd-container", name: "year") %>

                    <%= label_tag(:lease_length, "Lease Length", class: "icon-clock") %>

                    <%= select_tag :lease_length, options_for_select([['3 Months', 3], ['6 Months', 6], ['9 Months', 9], ['12 Months', 12]], selected: :lease_length, class: "styled-select", name: "category" ) %>

                <%= text_field_tag(:max, nil, {placeholder: "Max Price", class: "form-control"}) %>


          <%= submit_tag "Search", { class:"btn_1 green" } %>
        <% end %>

      <h3>Follow a listing</h3>
      <p>
           Search listings by time-frame, cost, and furnishing.
           When you find one that fits your needs, follow it!
      </p>

      <h3>Form a crew</h3>
      <p>
           See who else if following the listing for the time period.
           Select others and form a crew by sending crew requests.
           If they accept, you now have a crew!
      </p>

      <h3>Secure the lease</h3>
      <p>
           Once your entire crew is ready, land the listing.
           The owner can now approve your request so you can
           sign the lease, and pay the security deposit.
           Welcome to your new home!
      </p>
