<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<%= form_tag({controller: "search", action: "results"}, method: "get") do %>
    <%= label_tag(:location, "Where do you want to stay?") %>
    <%= text_field_tag(:location, nil, {:placeholder => "San Francisco", :required => true}) %>
    <%= render(:partial => "shared/google") %>
    <%= select_month(Date.today) %>
    <%= select_year(Date.today) %>
    <%= label_tag(:lease_length, "Lease Length", {:class => "icon-clock"}) %>
    <%= select_tag(:lease_length, options_for_select([['3 Months', 3], ['6 Months', 6], ['9 Months', 9], ['12 Months', 12]], selected: :lease_length )) %>
    <%= text_field_tag(:min, nil, {:placeholder => "Min Price"}) %>
    <%= text_field_tag(:max, nil, {:placeholder => "Max Price"}) %>
    <%= text_field_tag(:roommates, nil, {:placeholder => "Number of Roommates"}) %>
    <%= submit_tag("Search") %>
<% end %>