<section id="search_container">
  <div id="search">
    <div class="tab-content">
      <div class="tab-pane active" id="tours">

        <div class="row">
          <%= form_tag({controller: "search", action: "results"}, method: "get") do %>
          <div class="col-md-8">
              <div class="form-group">
                    <%= label_tag(:location, "Where do you want to stay?") %>
                    <%= text_field_tag :location, nil, placeholder: "i.e. San Francisco",
                                                      required: true, class: "form-control" %>
              </div>
          </div>

          <%= render(partial: "shared/google") %>

          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag(:start_date, "Start Month") %>
            </br>
              <%= select_month(Date.today + 1.month, class: "ddslick", name: "month") %>
              <%= select_year(Date.today, class: "ddslick", name: "year") %>
            </div>
          </div>
        </div> <!-- End row -->

        <div class="row">
        	<div class="col-md-3">
            	<div class="form-group">
                    <%= label_tag(:lease_length, "Lease Length", class: "icon-clock") %>
                    <%= select_tag :lease_length, options_for_select([['3 Months', 3], ['6 Months', 6], ['9 Months', 9], ['12 Months', 12]], selected: :lease_length, class: "ddslick", name: "category" ) %>
                </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label><i class=" icon-clock"></i> Min Rent</label>
                <%= text_field_tag(:min, nil, {placeholder: "100", class: "form-control"}) %>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label><i class=" icon-clock"></i> Min Rent</label>
                <%= text_field_tag(:max, nil, {placeholder: "Max Price", class: "form-control"}) %>
            </div>
          </div>

          <%= submit_tag "Search", { class:"btn_1 green" } %>
        </div><!-- End row -->
        <% end %>
      </div><!-- End rab -->
    </div>
  </div>
</section><!-- End hero -->

    <div class="container margin_60">

        <div class="main_title">
            <h2>How it works</h2>
        </div>

        <div class="row">

            <div class="col-md-4 wow">
                <div class="feature_home">
                    <i class="icon_set_1_icon-41"></i>
                    <h3>Like a listing</h3>
                    <p>
                         Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow">
                <div class="feature_home">
                    <i class="icon_set_1_icon-30"></i>
                    <h3>Form a crew</h3>
                    <p>
                         Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow">
                <div class="feature_home">
                    <i class="icon_set_1_icon-57"></i>
                    <h3>Split shared costs</h3>
                    <p>
                         Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                </div>
            </div>

        </div><!--End row -->

        <hr>

    </div><!-- End container -->
