<!-- Page Content -->
<div id="page-content">
    <div class="container page">
        <header><h1><%= t 'devise.invitations.edit.header' %></h1></header>
        <div class="row">
          </br></br></br>
            <div class="col-md-5 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:class => "user_sign", :method => :put } do |f| %>
                  <%= devise_error_messages! %>
                  <%= f.hidden_field :invitation_token %>
                    <div class="form-group">
                        <%= f.label :first_name %>
                        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <%= f.label :last_name %>
                        <%= f.text_field :last_name, class: "form-control" %>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <%= f.label :username %>
                        <%= f.text_field :username, class: "form-control" %>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                    </div><!-- /.form-group -->
                    <div class="form-group clearfix">
                        <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-default", style: "margin-top: 5px; width: 100%;" %>
                    </div><!-- /.form-group -->
                <% end %>
                <br>
                <div class="center"><%= render "users/shared/links" %></div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->
