<!-- Page Content -->
<div id="page-content" style="margin-top: 150px;">
    <div class="container">
        <header><h1><%= t "devise.invitations.new.header" %></h1></header>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
              <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
                  <%= devise_error_messages! %>
                  <% resource.class.invite_key_fields.each do |field| -%>
                    <div class="form-group">
                        <%= f.label field %>
                        <%= f.text_field field, class: "form-control" %>
                    </div><!-- /.form-group -->
                  <% end -%>
                    <div class="form-group clearfix">
                        <%= f.submit t("devise.invitations.new.submit_button"), class: "btn pull-right btn-default" %>
                    </div><!-- /.form-group -->
                <% end %>
                <hr>
                <div class="center"><%= render "users/shared/links" %></div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->
