<!DOCTYPE html>
<html>
<head>
  <title>Roomie</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <% flash.each do |message_type, message| %>
      <div class="flash-head alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>

<%= link_to image_tag("logo_sticky.png", width: 160, height: 34, data: { src: "logo_sticky.png", src_retina: "logo_sticky@2x.png" }, class: "logo_normal", style: "margin-bottom: 20px;"), root_path %>
<%= link_to image_tag("logo_sticky.png", width: 160, height: 34, data: { src: "logo_sticky.png", src_retina: "logo_sticky@2x.png" }, class: "logo_sticky"), root_path %>

    <% if user_signed_in? %>
      <p>Hello <%= current_user.first_name %>! <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %></p>
    <% else %>
      <%= render 'users/shared/login_dropdown' %>
    <% end %>




  <%= yield %>
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
